<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="duomi.dbMap.mapper.PersonBlacklistDetailPoMapper" >
  <resultMap id="BaseResultMap" type="duomi.dbMap.bean.PersonBlacklistDetailPo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="blacklistid" property="blacklistid" jdbcType="BIGINT" />
    <result column="app_no" property="appNo" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="overdue_days" property="overdueDays" jdbcType="VARCHAR" />
    <result column="overdue_date" property="overdueDate" jdbcType="VARCHAR" />
    <result column="legal_state" property="legalState" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="overdue_amount" property="overdueAmount" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, blacklistid, app_no, mobile, overdue_days, overdue_date, legal_state, type, overdue_amount, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_dm_personblacklist_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_dm_personblacklist_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="duomi.dbMap.bean.PersonBlacklistDetailPo" >
    insert into t_dm_personblacklist_detail (id, blacklistid, app_no, 
      mobile, overdue_days, overdue_date, 
      legal_state, type, overdue_amount, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{blacklistid,jdbcType=BIGINT}, #{appNo,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{overdueDays,jdbcType=VARCHAR}, #{overdueDate,jdbcType=VARCHAR}, 
      #{legalState,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{overdueAmount,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="duomi.dbMap.bean.PersonBlacklistDetailPo" >
    insert into t_dm_personblacklist_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blacklistid != null" >
        blacklistid,
      </if>
      <if test="appNo != null" >
        app_no,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="overdueDays != null" >
        overdue_days,
      </if>
      <if test="overdueDate != null" >
        overdue_date,
      </if>
      <if test="legalState != null" >
        legal_state,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="overdueAmount != null" >
        overdue_amount,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="blacklistid != null" >
        #{blacklistid,jdbcType=BIGINT},
      </if>
      <if test="appNo != null" >
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="overdueDays != null" >
        #{overdueDays,jdbcType=VARCHAR},
      </if>
      <if test="overdueDate != null" >
        #{overdueDate,jdbcType=VARCHAR},
      </if>
      <if test="legalState != null" >
        #{legalState,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="overdueAmount != null" >
        #{overdueAmount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="duomi.dbMap.bean.PersonBlacklistDetailPo" >
    update t_dm_personblacklist_detail
    <set >
      <if test="blacklistid != null" >
        blacklistid = #{blacklistid,jdbcType=BIGINT},
      </if>
      <if test="appNo != null" >
        app_no = #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="overdueDays != null" >
        overdue_days = #{overdueDays,jdbcType=VARCHAR},
      </if>
      <if test="overdueDate != null" >
        overdue_date = #{overdueDate,jdbcType=VARCHAR},
      </if>
      <if test="legalState != null" >
        legal_state = #{legalState,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="overdueAmount != null" >
        overdue_amount = #{overdueAmount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="duomi.dbMap.bean.PersonBlacklistDetailPo" >
    update t_dm_personblacklist_detail
    set blacklistid = #{blacklistid,jdbcType=BIGINT},
      app_no = #{appNo,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      overdue_days = #{overdueDays,jdbcType=VARCHAR},
      overdue_date = #{overdueDate,jdbcType=VARCHAR},
      legal_state = #{legalState,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      overdue_amount = #{overdueAmount,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>