<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="duomi.dbMap.mapper.SaveTaskInfoPoMapper" >
  <resultMap id="BaseResultMap" type="duomi.dbMap.bean.SaveTaskInfoPo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="req_time" property="reqTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_id, phone, name, req_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_dm_csp_task_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_dm_csp_task_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="duomi.dbMap.bean.SaveTaskInfoPo" >
    insert into t_dm_csp_task_info (id, task_id, phone, 
      name, req_time)
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{reqTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="duomi.dbMap.bean.SaveTaskInfoPo" >
    insert into t_dm_csp_task_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="reqTime != null" >
        req_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="reqTime != null" >
        #{reqTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="duomi.dbMap.bean.SaveTaskInfoPo" >
    update t_dm_csp_task_info
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="reqTime != null" >
        req_time = #{reqTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="duomi.dbMap.bean.SaveTaskInfoPo" >
    update t_dm_csp_task_info
    set task_id = #{taskId,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      req_time = #{reqTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>